:root {
  --main-color: rgb(231, 231, 231);
  --secondary-color: rgba(197, 197, 197, 0.753);
  --main-bg: rgb(24, 24, 24);
  --secondary-bg: rgb(43, 43, 43);
  --section-padding: 1em;
}

* {
  color: var(--main-color);
  background-color: var(--secondary-bg);
}

body {
  background-color: var(--main-bg);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: var(--main-bg);
}

#input {
  text-align: end;
  height: 3.2em;
  padding: 0 0.4em;
}

#small {
  color: var(--secondary-color);
  margin: 0.4em 0;
  font-size: small;
}

#large {
  margin: 0.6em 0;
}
